langchain
langchain-community
langchain-core
langchain-google-genai
google-generativeai
streamlit
numpy
scipy
chromadb
pymongo
hnswlib
beautifulsoup4
requests
fake-useragent
lxml
tqdm
python-dotenv
loguru
backoff
pypdf
unstructured
sentence-transformers
playwright
pdf2image
Pillow